body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:461px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:461px;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:499px;
  width:39px;
  height:17px;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u30_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:619px;
  width:39px;
  height:17px;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:777px;
  width:616px;
  height:60px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:616px;
  height:60px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u31_input:disabled {
  color:grayText;
}
#u32_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:740px;
  width:39px;
  height:17px;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:537px;
  width:616px;
  height:60px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:616px;
  height:60px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:657px;
  width:616px;
  height:60px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:616px;
  height:60px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:860px;
  width:193px;
  height:17px;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u35_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:965px;
  width:193px;
  height:17px;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u36_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:654px;
  top:860px;
  width:193px;
  height:17px;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u37_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u38_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:860px;
  width:51px;
  height:17px;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u39_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:920px;
  width:113px;
  height:17px;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:965px;
  width:193px;
  height:17px;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u40_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:965px;
  width:193px;
  height:17px;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u41_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
